.strip {
    position: absolute;
    width: 500px;
    height: 700px;
}

.strip#left {
    top: 0;
    left: -80px;
    border-radius: 0 0 250px 250px;
    background: var(--light-violet);
    background: linear-gradient(180deg, var(--light-magenta) 1%, var(--light-violet) 100%);
}

.strip#right {
    bottom: -30px;
    right: -175px;
    border-radius: 250px 250px 0 0;
    background: var(--light-grayish-violet);
}

@media only screen and (max-width: 700px) {
    .strip#left {
        top: -210px;
        left: -300px;
    }
    
    .strip#right {
        bottom: -160px;
        right: -300px;
    }
}